[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python run.py"
test = "pytest"
test-list = "pytest -s -v"
validator = "python validator_raw.py"

[packages]
pylint = "*"
pre-commit = "*"
python-barcode = "*"
pillow = "*"
flask = "*"
cerberus = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
