[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python run.py"

[packages]
pylint = "*"
pre-commit = "*"
python-barcode = "*"
pillow = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
